body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
html{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite;
}
:root{
    --buttoncolor: rgb(240, 240, 240);
}

#mainborder{
    display: flex;
    flex-direction: column;    
    background-color:ghostwhite;
    margin-top: 6vh;
    width: 350px;
    height: 530px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.25);
    padding: 10px;
    
}

#display{
    margin-bottom: 5px;
    overflow: hidden;
    width: 335px;
    height: 125px;
    background-color: ghostwhite;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.15) inset;
    border-radius: 10px;
    color: black;
    padding-top: 20%;
    padding-right: 15px;
    text-align: right;
    font-size: 50px;
}

.operand.downpress, .operator.downpress, .decimal.button.downpress,
.clear.button.downpress{
    background-color: rgba(0,0,0, 0.2);
    transform:scale(0.9)
}


#zero.operand.downpress{
    background-color:  rgba(0,0,0, 0.2);
    
}

.equal.operator.downpress{
    background-color: rgba(0, 124, 0, 0.918);
}

.button, .operand, .operator{
    padding: 0px;
    margin: 5px;
    width: 70px;
    height: 70px;
    background-color: var(--buttoncolor);
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    
}

.section2 .button{
    margin: 5px;
    width: 70px;
    height: 70px;
    background-color: var(--buttoncolor);
    border-radius: 50%;
    border: 0;
}

#zero{
    padding: 0px;
    margin: 5px;
    width: 155px;
    height: 70px;
    background-color: var(--buttoncolor);
    border-radius: 50px;
    border: 0;
}

.section2{
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 25% 25%;
}


.buttonContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 25%);
    
}

.equal.operator{
    background-color: rgba(0, 199, 0, 0.918);
    color: white;
}

.clear.button{
    color: red;
}
.operator{
    color: rgba(0, 199, 0, 0.918);
}